button
  font-size 14px
  font-family ffamily

.btn
  padding 1em
  border 1.75px solid #fff
  background none
  color #fff
  cursor pointer
  transition background .3s
  &.btn-primary
    bs-dp-2()
  &:hover
    padding calc(1em + 1.75px)
    background white
    color #000
    border 0
    bs-dp-5()
