form
  color #fff
  width 100%
  border 6px solid #fff
  border-radius 3px
  padding 12px
  bs-dp-2()
  input
  select
    color #fff
    background none
    border none
    border-bottom 2px solid #fff
    outline none
    padding 4px 0
    transition box-shadow .3s, border-bottom-color .3s
    &:focus
      bs-dp-2()
      border-bottom-color corange

  select:focus
    background #232a30