.img-maps
.img-responsive
  max-width 100%
  height auto
  max-height 220px
  transition border .3s, box-shadow .2s

.img-maps
  &:hover
    cursor pointer
    max-height 124px
    border 3px solid #fff
    bs-dp-4()