.log-box
.map-veto
  width 100%
  background #1c2127
  border 2px solid #fff
  border-radius 6px
  padding 8px
  bs-dp-1()
  span
    display block
    color #fff
    background #1c2127
    padding 4px 0
    strong
      background #1c2127


.log-box
  height 160px
  overflow-y scroll

.map-veto
  height auto
  margin-top 20px

.team1-log
  color darken(cblue, 30)
.team2-log
  color lighten(cblue, 30)
.server-log
  color corange