*
    box-sizing border-box
    margin 0
    padding 0

base-font-size = 16
gutter = 20px
columns = 12
cellClassName = 'cell'
gridClassName = 'l-grid'

breakpoints = {
    sf: 0,
    tb: 640px,
    lt: 1200px,
    dt: 1440px,
    fw: 1920px
}
